<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <div>
        {{#each albumsArr}}
            <p>{{name}}</p>
            <img src={{images.[1].url}}></img>
            <a href="/album-tracks/{{id}}">View Tracks</a>
        {{/each}}
    </div>
</div> 
</body>
</html>